@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  /* font-family: Poiret One; */
  font-family: Roboto;
  color: whitesmoke;
  font-weight: lighter;
}

a {
  text-decoration: none;
}


.marker {
  background-image: url('./map-marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::-webkit-scrollbar { 
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.3);
}

::-webkit-scrollbar-thumb { 
  background-color: whitesmoke;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
