@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  /* font-family: Poiret One; */
  font-family: Quicksand;
  color: whitesmoke;
  font-weight: lighter;
}

a {
  text-decoration: none;
}


.marker {
  background-image: url('./map-marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
